<div class="contentContainer" id="puntenbeheer" xmlns="http://www.w3.org/1999/html">

    <h1>Puntenbeheer</h1>

    <div class="container">
        <fieldset>
            <div class="row">
                <div class="col-sm-12"><p>Filteren op:</p></div>
            </div>


            <div class="form-group">
                <div class= "puntentform" data-ng-repeat="field in choiceSet.choices track by $index" >
                    <div class="col-lg-3 col-sm-3 col-xs-11" >

                        <select ng-options="option for option in listOfOptions" class="form-control panda" ng-model="choiceSetSelect.choicesSelect[$index]"
                                ng-init="choiceSetSelect.choicesSelect[$index] = listOfOptions[0]">
                        </select>


                    </div>

                    <div class="col-lg-8 col-sm-8 col-xs-11 ">
                        <input type="text" class="form-control" ng-model=" choiceSet.choices[$index]">
                    </div>
                    <div class="col-lg-1 col-sm-1 col-xs-1"  ng-click="removeChoice($index)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <input type="button" class="btn btn-info" ng-click="addNewChoice()" value="Filter toevoegen">

                <input type="button" class="btn btn-info" ng-click="test()" value="Voorbeeld weergeven">
                <input type="button" class="btn btn-info"  value="Puntenlijstmails verzenden" ng-click="zenden()">


            </div>
        </fieldset>



        <div ng-show="showLoader" class="laden">
            <p>De gegevens worden geladen. Even geduld alstublief...</p>
            <img src="/app/images/loading.gif">
        </div>


        <div class="previewtable">
            <table class="table table-striped table-condensed table-hover">
                <thead>

                <tr>
                    <th class="voornaam" custom-sort order="'data.firstName'" sort="sort">Voornaam</th>
                    <th class="achternaam" custom-sort order="'data.lastName'" sort="sort">Achternaam</th>
                    <th class="modulenaam" custom-sort order="'data.moduleName'" sort="sort">Modulenaam</th>
                    <th class="resultaat" custom-sort order="'data.result'" sort="sort">Resultaat</th>
                    <th class="schooljaar" custom-sort order="'data.schoolyear'" sort="sort">Schooljaar</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse">
                    <td>{{data.firstName}}</td>
                    <td>{{data.lastName}}</td>
                    <td>{{data.moduleName}}</td>
                    <td>{{data.result}}</td>
                    <td>{{data.schoolyear}}</td>
                </tr>
                </tbody>
            </table>
            <div class="pagination">
                <ul>
                    <li ng-class="{disabled: currentPage == 0}">
                        <a href ng-click="prevPage()">❮</a>
                    </li>
                    <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                        <a href ng-click="nextPage()">❯</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>